a.prev:hover,a.next:hover { background-color:#c08100;}
.footerstress { border: solid #c08100;border-width: 1px 0 0;clear: both;margin: -9px 0px 17px;}
.testimonial-name { color:#c08100;}
.vuzz-pricing-table>div { border-top:#c08100 3px solid;}
.vuzz-pricing-table .vuzz-pricing-cost {	background:#c08100;}
.vuzz-pricing-table .vuzz-pricing-per {	background:#c08100;}
.hometitlebg { background:#c08100; }
.colortitlebg { background:#c08100; }
.neutralbutton {	background:#c08100;}
.serviceicon { background-color:#c08100;}
.subtitle { border-bottom:#c08100 1px solid;}
.wrapaction { border-left: #c08100 3px solid;background:#fff;}
.actionbutton { background-color:#c08100;}
.stresstitle { border-bottom:#c08100 1px solid;}
.undermenuarea {	background: #c08100 url(../images/bg_slide_br.jpg) no-repeat;}
.noshadowbox {background:#fff;}
.progressdefault {background: #c08100;}
.simplebox {border-left: 1px solid #c08100;}
.simpleboxicon {color: #c08100;}
.colorme { color:#c08100;}
.buttonprice {background: #c08100;color:#fff;border:0px;}
a.expandAll {background: #c08100;}
.wrapactiondefault {border-left: #c08100 2px solid;}
